/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php

/.env
/.env.*
!/.env.example
/auth.json
/storage/app/firebase-service-account.json

/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json
/npm-debug.log
/yarn-error.log

/.DS_Store
/.fleet
/.idea
/.nova
/.vscode
/.zed

/.git.backup-*
nul
.fake
